.cmenu {
    background: white;
    border: solid 1px #c5c5c5;
    padding: 0;
    border-radius: 4px;
    width: 150px;
    box-shadow: 4px -1px 5px 0px rgba(191,191,191,1);

}

.cmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cmenu ul li {
    padding: 10px;
    text-align: center;
    cursor: pointer;;
}
.cmenu ul li:hover {
    background: #c5c5c5;
}