.row_cell {
    border: 1px solid #eaeaea;
    color: hsl(0, 0%, 0%);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: white;
}
.row_cell_invisible{
    display: none;
}

.row {
    line-height: 1;
    display: flex;
}

.row_invisible {
    display: none;
}


.tag_content{
    text-align: center; position: absolute; white-space: nowrap; top: 0px; overflow: hidden; user-select: none; line-height: 1;height:100%;
  }